button {
    font-family: 'Minecraftia', monospace;
    font-size: 12pt;
    color: #DDD;
    text-shadow: 2px 2px #000A;
    background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
    width: 360px;
    padding: 0;
    border: 2px solid #000;
}

button.hidden {
    display: none;
}

.sub-button {
    padding-top: 0.3em;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}

.sub-button:hover {
    background-color: rgba(100, 100, 255, .45);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
}

.sub-button:active {
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

#options {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
}

#options.hidden {
    display: none;   
}

#options span {
    margin-top: 0.5em;
}

#intro {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
}

#intro.hidden {
    display: none;   
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

#overlay.overlay-visible {
    opacity: 1;
    pointer-events: all;
}

#overlay.closeable {
    cursor: pointer;
}

#overlay .popup {
    padding: 32px;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
    background-image: url(../assets/img/small_dort.png);
}

/*.overlay-button {
    position: relative;
}*/

#video-popup {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-popup.hidden {
    display: none;   
}

#video-confirm {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-confirm.hidden {
    display: none;
}

span {
    text-align: center;
}