@font-face {
  font-family: 'Minecraftia';
  src: url('font/Minecraftia-Regular.ttf') format('truetype');
}

body {
    background-image: url(assets/dort.png);
}

.thumbnail {
    width: 120pt;
    height: 67pt;
    object-fit: cover;
    object-position: center;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    align-self: center;
    width: min-content;
}

#subtitle {
    align-self: center;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    align-content: center;
}

#overlay.overlay-visible {
    opacity: 1;
    pointer-events: all;
}

.overlay-button {
    position: relative;
    left: 50%;
}

span {
    font-family: 'Minecraftia', monospace;
    color: white;
    text-shadow: 1pt 1pt black;
}

#main {
    margin-left: 270pt;
}

table {
    border-spacing: 24pt 4pt;
}

td {
    width: 120pt;
    height: 80pt;
    text-align: center;
    padding-right: 8pt;
    padding-left: 8pt;
    background-image: url(assets/dart.png);
    font-family: 'Minecraftia', monospace;
    color: white;
    text-shadow: 1pt 1pt black;
}

td.ending {
    background-image: url(assets/stonebricj.png);
}

button {
    font-family: 'Minecraftia', monospace;
    color: white;
    text-shadow: 1pt 1pt black;
    background-color: darkgray;
}